<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<h1 class="text-center">Add Product</h1>

<form method="POST" action="/add/">
    {% csrf_token %}

    <div class="row">
        <div class="col">
            <label for="name">Product Name :</label>
        </div>
        <div class="col">
            {{ form.name}}
        </div>
    </div>
    <br>

      <div class="row">
        <div class="col">
            <label for="price">Price</label>
        </div>
        <div class="col">
            {{ form.price }}
        </div>
    </div>
    <br>

      <div class="row">
        <div class="col">
            <label for="description">Description</label>
        </div>
        <div class="col">
            {{ form.description }}
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col">
            <label for="color">Color</label>
        </div>
        <div class="col">
            <select id="color" name="color" >
                <option  value="" disabled selected>Select Color</option>
                <option value="brown">Brown</option>
                <option value="blue">Blue</option>
            </select>
        </div>
    </div>
    <br>

  <div class="row">
      <div class="col"> <button type="submit" class="btn btn-success">Save</button></div>
      <div class="col"><a href="{% url 'show'%}" class="btn btn-primary"> See Products</a> </div>
  </div>


</form>

</body>
</html>